<div class="body">
  <div class="login-block">
    <h1>Sign up with</h1>
    <div class="buttons">
      <div class="btn">
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
      </div>
      <div class="btn" (click)="signUpwithLinkedIn()">
        <img src="./assets/img/linkedin.png" alt="">
        <p>LinkedIn</p>
      </div>
    </div>
  </div>
</div>
